extends dashboard 

mixin accountRow(id, avatar, name, username, email, status)
  tr
    td(class="p-2 whitespace-nowrap")
      div(class="flex items-center")
        div(class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3")
          img(src=avatar class="rounded-full")
        div(class="font-medium text-gray-800")=name
    td(class="p-2 whitespace-nowrap")
      div(class="text-left")=username
    td(class="p-2 whitespace-nowrap")
      div(class="text-left")=email
    td(class="p-2 whitespace-nowrap")
      if status === 0 
        div(class="text-left text-green-500") Active
      else 
        div(class="text-left text-red-500") Banned
    td(class="p-2 whitespace-nowrap")
      div(class="flex")
        if status === 0 
          a(class="text-indigo-600 hover:text-indigo-900 cursor-pointer" href="/BanUser?userId=" + id) Ban
        else 
          a(class="text-indigo-600 hover:text-indigo-900 cursor-pointer" href="/UnbanUser?userId=" + id) Unban



block content 
  div(class="mb-2 md:mb-4 flex justify-between")
    form(class="flex" method="GET")
      input(id="dashboard-search-input" name="query" value=currentQuery class="w-40 rounded-l-sm p-1 border text-sm box-border")
      button(type="submit" class="px-1 xs:px-2 rounded-r-sm bg-blue-500 hover:bg-blue-600")
        i(class="fas fa-search text-white mr-2")
        span(class="font-medium text-white") Search
    if (activeCell[1] && activeCell[1] == "staff")
      button(class="px-2 bg-blue-500 hover:bg-blue-600 rounded-sm font-medium text-white" onclick="openModalDashboardAddStaff()") Add
  table(class="w-full divide-y divide-gray-200")
    thead(class="text-sm uppercase text-gray-500 bg-gray-100 w-full")
      tr
        th(class="p-2 whitespace-nowrap tracking-wider font-semibold text-left") Name
        th(class="p-2 whitespace-nowrap tracking-wider font-semibold text-left") Username
        th(class="p-2 whitespace-nowrap tracking-wider font-semibold text-left") Email
        th(class="p-2 whitespace-nowrap tracking-wider font-semibold text-left") Status
        th(class="p-2 whitespace-nowrap tracking-wider font-semibold text-left") Action
    tbody(class="text-sm")
      each value in accountData
        +accountRow(value._id, value.avatar, value.name, value.username, value.email, value.banStatus)
  -var n = 0;
    +pagination(currentQuery, currentPage, maxPage)
  script(src="/accountDashboard.js") 