extends layout
mixin productCell(name, img, number, cost, productId)
    div(class="flex flex-col w-1/2 md:w-1/3 lg:w-1/4 border transform ease-in duration-200 hover:shadow-2xl")
        div(class="px-2 pt-2 md:px-4 md:pt-4 mb-2")
            div
                a(href="/detailLaptop?productId="+productId)
                    img(class="transform hover:-translate-y-1" src=img alt=name)
        div(class="content-bottom px-2 pb-0 md:px-4 md:pb-4 flex flex-col md:block flex-grow flex-shrink")
            a(href="/detailLaptop?productId="+productId class="font-semibold text-sm md:text-base mb-1 text-body-main block leading-5")=name
            div(class="flex items-center space-x-2 text-sm text-dark-gray mb-1 md:mb-2")
                strong=number
                span Cấu hình tùy chọn 
            div
                div(class="flex items-center space-x-1")
                    span(class="text-sm text-black leading-5") Giá từ: 
                    span(class="text-sm xl:text-lg text-red-500 leading-7 font-semibold")=cost + " ₫"
mixin pagination(currentUrl, currentPage, pageCount)
  - var prefixUrl = '?'+currentUrl;
  if pageCount > 0
    nav(class="mb-12" id="#pagination")
      ul(class="flex justify-center gap-x-1")

        //- Prev item
        if currentPage > 1
          a(class="" href=`${prefixUrl}page=${currentPage-1}`)
            li(class="border py-1 px-2 text-center" style="min-width: 36px;")
              <i class="fas fa-chevron-left"></i>

        //- Small pageCount
        if pageCount < 8
          - for(var i = 1; i <= pageCount; ++i)
            if i == currentPage
              li(class="border bg-gray-100 text-center py-1 cursor-not-allowed" style="min-width: 36px;")
                span(class="underline")=i
            else
              li(class="border text-center py-1" style="min-width: 36px;")
                a(href=`${prefixUrl}&page=${i}`)=i
        else
          //- First item
          if currentPage > 4
            li(class="border text-center py-1" style="min-width: 36px;")
              a(href=prefixUrl) 1
            li(class="text-center py-1 cursor-default" style="min-width: 36px;")
              span(class="mt-auto align-baseline text-gray-500") •••

          if currentPage <= 4
            - for(var i = 1; i <= (currentPage == 4 ? 6 : 5); ++i)
              if i == currentPage
                li(class="border bg-gray-100 text-center py-1 cursor-not-allowed" style="min-width: 36px;")
                  span(class="underline")=i
              else
                li(class="border text-center py-1" style="min-width: 36px;")
                  a(href=`${prefixUrl}&page=${i}`)=i
          else if pageCount - currentPage < 4
            - for(var i = (pageCount - currentPage == 3 ? currentPage - 2: pageCount - 4); i <= pageCount; ++i)
              if i == currentPage
                li(class="border bg-gray-100 text-center py-1 cursor-not-allowed" style="min-width: 36px;")
                  span(class="underline")=i
              else
                li(class="border text-center py-1" style="min-width: 36px;")
                  a(href=`${prefixUrl}&page=${i}`)=i
          
          
          //- Last item
          if pageCount - currentPage >= 4
            li(class="text-center py-1 cursor-default" style="min-width: 36px;")
              span(class="mt-auto align-baseline text-gray-500") •••
            li(class="border text-center py-1" style="min-width: 36px;")
              a(href=`${prefixUrl}&page=${pageCount}`)=pageCount
        
        //- Next item
        if currentPage < pageCount
          a(class="" href=`${prefixUrl}page=${currentPage+1}`)
            li(class="border py-1 px-2 text-center" style="min-width: 36px;")
              <i class="fas fa-chevron-right"></i>
mixin catalogue(title, device, idCatalogue)
    div(class="border-t border-gray-300 py-3" onclick=`showAndHide('${device}',${idCatalogue})`)
        p(class="flex items-center text-black justify-between cursor-pointer")
            span=title
            <i class="fas fa-plus"></i>
    if(idCatalogue === "1")
      div(id=`list${idCatalogue}` class="items-center hidden")
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="1")
          span(class="text") Trên 50 triệu 
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="2")
          span(class="text") 40 - 50 triệu
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="3")
          span(class="text") 30 - 40 triệu
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="4")
          span(class="text") 20 - 30 triệu 
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="5")
          span(class="text") 10 - 20 triệu
    if(idCatalogue === "2")
      div(id=`list${idCatalogue}` class="items-center hidden")
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="0")
          span(class="text") New, Sealed 
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="1")
          span(class="text") New, Fullbox
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="2")
          span(class="text") New, Outlet 
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="3")
          span(class="text") Used
    if(idCatalogue === "3")
      div(id=`list${idCatalogue}` class="items-center hidden")
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="0")
          span(class="text") Intel Dual Core 
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="1")
          span(class="text") Intel Core i3
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="2")
          span(class="text") Intel Core i5
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="2")
          span(class="text") Intel Core i7
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="3")
          span(class="text") Intel Core i9
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="4")
          span(class="text") Intel Xeon
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="5")
          span(class="text") AMD Ryzen 3 
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="6")
          span(class="text") AMD Ryzen 5
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="7")
          span(class="text") AMD Ryzen 7
    if(idCatalogue === "4")
      div(id=`list${idCatalogue}` class="items-center hidden")
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="0")
          span(class="text") 4 GB 
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="1")
          span(class="text") 8 GB
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="2")
          span(class="text") 16 GB
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="3")
          span(class="text") 32 GB
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="4")
          span(class="text") 64 GB
        label(class="block space-x-1")
          input(type="checkbox" class="checkBox" value="5")
          span(class="text") 128 GB
block header
  link(rel="stylesheet" href="/styles/categoryStyle.css")
  link(rel="stylesheet" href="/styles/laptopStyle.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(type="text/javascript" src="/javascripts/category.js" defer)
block content
    div(class="section-thuonghieu relative flex mb-10 mt-20 flex-wrap")
      div(class="information-brand relative flex items-center w-full xl:w-1/2 px-4 xl:px-0")
        div(class="info bg-white")
          p(class="title font-primary font-bold")=brandData.name
          div(class="description")
            p=brandData.description
        div(class="logo absolute top-0 hidden xl:flex")
          img(src="/images/"+brandData.thumbnail[0])
      div(class="img-detail w-full xl:w-1/2 xl:-top-10 -top-20")
        img(src="/images/dell-header.jpg")
    div(class="container block mx-auto")
        div(class="px-10")
            p(class="text-xl xl:text-3xl font-bold") Máy tính xách tay
            div(class="block xl:flex space-x-2")
                div(class="flex xl:hidden mt-4 justify-between items-center")
                  div(class="flex")
                    p Sắp xếp theo
                    select(class="bg-white border-0 outline-none")
                      option(value="none" selected disabled hidden) 
                      option(value="1") Giá tăng dần 
                      option(valeue="2") Giá thấp dần
                  div(class="flex items-center space-x-2 border-2 rounded-full py-1 px-3 filter-btn")
                    <i class="w-1/2 fas fa-filter"></i>
                    span Lọc
                div(class="filter-mobile bg-white ml-0 fixed xl:hidden top-0 -left-2 w-full overflow-scroll p-4 transform translate-x-full transition-all duration-75 ease-in-out" style="height: calc(var(--vh, 1vh)*100); z-index: 998")
                  div(class="grid grid-cols-3 pb-3 items-center")
                    div(class="back")
                      <i class="fas fa-angle-left fa-lg"></i>
                    p(class="text-xl font-semibold text-center") Lọc
                    div(class="filter text-center border-2 rounded-full filter-btn bg-brand text-white cursor-pointer ml-auto" style="max-width:104px")
                        div(class="p-2 mx-2")
                          p Áp dụng
                  +catalogue('Khoảng giá','mobile','1')
                  +catalogue('Tình trạng','mobile','2')
                  +catalogue('CPU','mobile','3')
                  +catalogue('RAM','mobile','4') 
                div(class="hidden xl:block" style="width:247px")
                    div(class="text-base space-x-1 mt-3" style="font-size: 14px;margin-bottom: 20px;")
                        strong 1 - 24
                        span trên 295 sản phẩm
                    div(class="filter text-center border-2 rounded-full filter-btn sticky my-3 w-1/2 mx-auto bg-brand text-white cursor-pointer top-3")
                        div(class="p-2 mx-2")
                          p Áp dụng
                    div(class="filter-pc sticky top-16 overflow-y-auto" style="max-height: 400px")
                        +catalogue('Khoảng giá','pc','1')
                        +catalogue('Tình trạng','pc','2')
                        +catalogue('CPU','pc','3')
                        +catalogue('RAM','pc','4')
                div(class="xl:w-997xl 997px mt-3")
                    div(class="mt-3 mb-5 hidden xl:flex gap-3")
                      strong Sắp xếp theo: 
                      a(href='#') Giá tăng dần 
                      a(href='#') Giá giảm dần
                    div(id="product" class="flex flex-wrap")
                      - var n = 0;
                      each value in product
                        +productCell(product[n].name, "/images/"+product[n].thumbnail[0], "2", product[n].price, product[n]._id)
                        -n++ ;
            - var n = 0;
              +pagination(currentUrl, currentPage, maxPage)