extends layout

mixin tag(title, content)
  div(id="tag")
    span
      strong(class="mr-2")=title
      =content

mixin productCell(name, img, number, cost, productId)
    div(class="flex flex-col w-1/2 md:w-1/3 lg:w-1/4 border transform ease-in duration-200 hover:shadow-2xl")
        div(class="px-2 pt-2 md:px-4 md:pt-4 mb-2")
            div
                a(href="/detailLaptop?productId="+productId)
                    img(class="transform hover:-translate-y-1" src=img alt=name)
        div(class="content-bottom px-2 pb-0 md:px-4 md:pb-4 flex flex-col md:block flex-grow flex-shrink")
            a(href="/detailLaptop?productId="+productId class="font-semibold text-sm md:text-base mb-1 text-body-main block leading-5")=name
            div(class="flex items-center space-x-2 text-sm text-dark-gray mb-1 md:mb-2")
                strong=number
                span Cấu hình tùy chọn 
            div
                div(class="flex items-center space-x-1")
                    span(class="text-sm text-black leading-5") Giá từ: 
                    span(class="text-sm xl:text-lg text-red-500 leading-7 font-semibold")=cost + " ₫"
                  
block content
  script(src="/javascripts/addToCart.js")
  input(id="product-id" value=product._id class="hidden")
  div(class="md:flex")
    div(class="md:w-1/2 md:pr-6")
      div(class="block md:hidden")
        h1(class="font-bold text-xl leading-7 mb-0")=product.name
        div(class="mb-5 text-sm flex space-x-3")
          a(href="#box-rating" class="underline") 0 đánh giá
          a(href="#box-comment" class="underline")=commentCount + " bình luận"
      div(class="sticky mb-6 top-24")
        img(src="/images/"+product.thumbnail[0] class="block mx-auto")
    div(class="text-sm md:w-1/2")
      div(class="hidden md:block")
        h1(class="mb-4 font-bold leading-tight font-primary text-3xl")=product.name
        div(class="mb-5 text-sm md:flex md:space-x-4")
            a(href="#box-rating" class="underline") 0 đánh giá
            a(href="#box-comment" class="underline")=commentCount + " bình luận"
      div(class="flex flex-col justify-between mb-2 lg:flex-row mx-4")
        div(class="flex space-x-2 md:hidden")
          p(class="text-2xl") Giá:
          p(class="text-2xl text-red-600") 23.990.000 đ
        div(class="flex-1 mb-4")
          div(id="brand" class="mb-3 flex")
            span(class="mr-2") Thương hiệu:
            a(class="w-10" href="#") Asus
          div(id="description" class="md:pr-8")
            -var cpuType = ['Intel Dual Core', 'Intel Core i3', 'Intel Core i5', 'Intel Core i7', 'Intel Core i9', 'Intel Xeon', 'AMD Ryzen 3', 'AMD Ryzen 5', 'AMD Ryzen 7'];
            -var ramType = ['4GB', '8GB', '16GB', '32GB', '64GB', '128GB'];
            +tag("Vi xử lý:", cpuType[product.cpuType])
            +tag("Màn hình:", product.information[1])
            +tag("RAM:", ramType[product.ramType])
            +tag("Card đồ họa:", product.information[3])
            +tag("Lưu trữ:", product.information[4])
            +tag("Pin:", product.information[5])
            +tag("Kết nối chính:", product.information[6])
            +tag("Cân nặng:", product.information[7])
            +tag("Hệ điều hành:", product.information[8])
        div
          div(id="service" class="mb-4 text-sm rounded p-4 border border-gray-200" style="width: 262px")
            h3(class="text-base mb-2 font-semibold leading-6") Bảo hành
            ul(class="list-disc space-y-3 pl-4")
              li
                ="Sản phẩm "
                strong chính hãng
              li
                ="Bảo hành "
                strong toàn cầu 24 tháng
              li
                ="Đổi mới trong 15 ngày đầu tiên"
  div(id="bottom-container" class="max-w-4xl mx-auto")
    div(class="mb-10")
      h2(class="font-bold text-xl md:text-3xl mb-4 md:mb-12") Sản phẩm tương tự
      div(class="flex flex-row")
        - var n = 0;
        each value in recommendProduct
          +productCell(recommendProduct[n].name, "/images/"+recommendProduct[n].thumbnail[0], "2", recommendProduct[n].price, recommendProduct[n]._id)
          -n++ ;

    div(id="box-description" class="mb-10")
      h2(class="font-bold text-xl md:text-3xl mb-4 md:mb-12") Chi tiết sản phẩm
      div(id="description-content") Lorem ipsum

    div(id="box-comment" class="mb-14 pt-10 border-t border-gray-200")
      h2(class="font-bold text-xl md:text-3xl mb-4 md:mb-12 block")
        span Bình luận
        span(class="text-sm inline-block ml-2 font-normal")=commentCount + " bình luận"
      div
        h3(class="text-base mb-2 font-semibold") Để lại bình luận của bạn
        div(class="mb-7 relative")
          if (!user)
            input(id="comment-input-username" placeholder="Xin hãy để lại tên" required class="mb-3 w-full p-4 outline-none bg-gray-100 rounded border border-gray-50 hover:border-blue-300 focus:border-blue-300")
          textarea(id="comment-input-content" placeholder="Xin hãy để lại bình luận" class="w-full h-32 p-4 outline-none bg-gray-100 resize-none rounded border border-gray-50 hover:border-blue-300 focus:border-blue-300 overflow-y-auto")
          button(onclick="postComment()" class="absolute right-4 bottom-4 px-4 py-1.5 rounded-full outline-none bg-brand font-bold text-white text-center") Gửi
      div(id="comment-list")
      input(id="commentPage" value="1" class="hidden" type="number")
      input(id="pageCount" value="0" class="hidden" type="number")
      //- pagination
  div(class="fixed py-3 left-0 right-0 z-30 shadow bg-white sticker-bottom border-t")
    div(class="container px-4 flex flex-wrap justify-center md:justify-between m-auto" style="max-width: 1254px")
      div(class="hidden md:block")
        div(class="text-sm text-gray-500 uppercase tracking-wider") Hotline
        a(href="tel:1234567890")
          span(class="font-medium text-2xl") 1234567890
      div(class="flex items-center")
        div(class="mr-4 md:mr-8 font-bold text-red-600 text-2xl md:text-3xl")=product.price + ' ₫'
        button(onclick=`addProduct("${product._id}")` class="flex items-center px-3 md:px-8 py-10px py-2 md:py-3 space-x-2 text-sm md:text-lg font-semibold bg-brand text-white rounded-full")
          i(class="fas fa-cart-plus mr-2") 
          span Thêm vào giỏ
  script(src="/javascripts/comment.js")