extends layout

mixin foodCell(name, price, img, description)
   div(class="col-span-1 mb-6")
      img(src=img alt=name class="w-full rounded-full mb-3 md:px-6")
      div(class="text-center mb-4")
        h5(class="text-xl mb-2 font-bold")=name
        h4(class="text-xl md:text-2xl font-bold text-red-600")=price+" VNĐ"
        p(class="text-sm md:font-normal")=description
        div(class="float-left")
          input(class="rounded-none text-center rounded-l border bg-gray-100 border-gray-200 h-8 w-7 align-top" type="button" value="-")
          input(class="rounded-none text-center border-t border-b bg-white border-gray-200 h-8 w-8" type="number" value="0" min="0" max="5")
          input(class="rounded-none text-center rounded-r border bg-gray-100 border-gray-200 h-8 w-7 align-top" type="button" value="+")
        button(class="float-right ml-auto rounded bg-red-600 h-8 text-white font-bold px-3") ADD

block content 
    div(class="container mx-auto px-4 md:px-40")
      div(class="mt-12")
        h1(class="text-red-600 text-5xl font-extrabold mb-6 text-center") PIZZA
        div(class="grid grid-cols-2 md:grid-cols-4 mb-4 gap-2")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
      div(class="mt-16")
        h1(class="text-red-600 text-5xl font-extrabold mb-6 text-center") PIZZA
        div(class="grid grid-cols-2 md:grid-cols-4 mb-4 gap-4")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")
          +foodCell("Seafood Deluxe", "129.000", "https://se-pizzaproject-ver2.herokuapp.com/Seafood%20Deluxe.png", "Prawn, crab sticks & calamari with Marinara sauce")

