extends layout

mixin foodCell(id, name, img, type, price, ingredient, description)
  div(class="relative inline-block col-span-1 mb-6")
    div(class="absolute right-0")
      button(id="dropdown-btn" class="px-2 py-1 float-right" onclick=`toggleDropdown("${id}")`)
        i(id="dropdown-btn" class="fas fa-ellipsis-v text-gray-600")
      div(id=`dropdown-content-${id}` class="bg-white rounded z-10 text-left cursor-pointer clear-both hidden")
        div(class="hover:bg-gray-300 px-3 py-1 rounded-t" onclick=`openModalEditDish("${id}", "${name}", "${img}", "${type}", ${price}, "${ingredient}", "${description}")`) Edit
        div(class="hover:bg-gray-300 px-3 py-1 rounded-b" onclick=`openModalDeleteDish("${id}")`) Delete
    a(href=`/detail?productId=${id}`)
      img(src=img alt=name class="w-full mb-3 lg:px-6")
    div(class="text-center mb-4")
      a(href='/detail')
        h5(class="text-xl mb-2 font-bold")=name
      h4(class="text-xl font-bold text-red-600")=price+" VNĐ"
      p(class="text-sm md:font-normal")=ingredient

mixin categoryCell(id, name, img)
  a(href=`/menu?category=${id}` class="flex-grow col-span-1")
    img(src=img alt=name class="my-1 object-contain mx-auto" style="min-width:62px; height:62px;")
    h4(class="lg:font-semibold text-sm text-center")=name

mixin pagination(category, currentPage, pageCount)
  - var prefixUrl = `?category=${category}`;
  if pageCount > 0
    nav(class="mb-12" id="#pagination")
      ul(class="flex justify-center gap-x-1")

        //- Prev item
        if currentPage > 1
          a(class="" href=`${prefixUrl}&page=${currentPage-1}`)
            li(class="border py-1 px-2 text-center" style="min-width: 36px;")
              <i class="fas fa-chevron-left"></i>

        //- Small pageCount
        if pageCount < 8
          - for(var i = 1; i <= pageCount; ++i)
            if i == currentPage
              li(class="border bg-gray-100 text-center py-1 cursor-not-allowed" style="min-width: 36px;")
                span(class="underline")=i
            else
              li(class="border text-center py-1" style="min-width: 36px;")
                a(href=`${prefixUrl}&page=${i}`)=i
        else
          //- First item
          if currentPage > 4
            li(class="border text-center py-1" style="min-width: 36px;")
              a(href=prefixUrl) 1
            li(class="text-center py-1 cursor-default" style="min-width: 36px;")
              span(class="mt-auto align-baseline text-gray-500") •••

          if currentPage <= 4
            - for(var i = 1; i <= (currentPage == 4 ? 6 : 5); ++i)
              if i == currentPage
                li(class="border bg-gray-100 text-center py-1 cursor-not-allowed" style="min-width: 36px;")
                  span(class="underline")=i
              else
                li(class="border text-center py-1" style="min-width: 36px;")
                  a(href=`${prefixUrl}&page=${i}`)=i
          else if pageCount - currentPage < 4
            - for(var i = (pageCount - currentPage == 3 ? currentPage - 2: pageCount - 4); i <= pageCount; ++i)
              if i == currentPage
                li(class="border bg-gray-100 text-center py-1 cursor-not-allowed" style="min-width: 36px;")
                  span(class="underline")=i
              else
                li(class="border text-center py-1" style="min-width: 36px;")
                  a(href=`${prefixUrl}&page=${i}`)=i
          
          
          //- Last item
          if pageCount - currentPage >= 4
            li(class="text-center py-1 cursor-default" style="min-width: 36px;")
              span(class="mt-auto align-baseline text-gray-500") •••
            li(class="border text-center py-1" style="min-width: 36px;")
              a(href=`${prefixUrl}&page=${pageCount}`)=pageCount
        
        //- Next item
        if currentPage < pageCount
          a(class="" href=`${prefixUrl}&page=${currentPage+1}`)
            li(class="border py-1 px-2 text-center" style="min-width: 36px;")
              <i class="fas fa-chevron-right"></i>

block content 
  script(src="/menu.js") 
  div(class="container mx-auto px-4 lg:px-40")
    div(class="mt-6")
      h3(class="mb-3 font-bold text-5xl text-center text-red-600 py-2 mx-5 md:mx-40 lg:mx-60 xl:mx-96 bg-black" style="transform: skew(-20deg);") MENU
      div(class="rounded bg-white p-2 lg:p-4 mb-8 shadow")
        h4(class="mb-3 font-semibold text-2xl text-center lg:text-left") Category
        div(class="flex flex-nowrap overflow-x-scroll gap-4 lg:gap-6 xl:gap-8 no-scrollbar")
          each value in category
            +categoryCell(value._id, value.name, value.image)
      div(class="flex flex-col")
        button(class="ml-auto mb-3 px-2 py-1 rounded bg-gray-600 text-white font-bold hover:bg-red-600" onclick="openModalAddDish()") Add
        div(class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-2 xl:gap-3 lg:gap-4")
          - var n = 0;
          each value in dishes
            //- id, name, img, type, price, ingredient, description
            +foodCell(dishes[n]._id, dishes[n].dishName, dishes[n].image, dishes[n].type, dishes[n].price, dishes[n].ingredient, dishes[n].description)
            -n++ ;
      - var n = 0;
        +pagination(currentCategory, currentPage, pageCount)
  div(class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-label-delete-dish" role="dialog" aria-modal="true" id="delete-dish-modal")
    div(class="flex items-end justify-center min-h-screen text-center px-5")
      div(class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true" onclick="closeModalDeleteDish()")
      div(class="inline-block bg-white rounded text-left overflow-hidden shadow-xl transform transition-all max-w-lg w-full my-auto")
        div(class="bg-white px-5 py-8")
          div(class="flex flex-row gap-4")
            i(class="fas fa-exclamation-circle text-4xl text-red-400")
            div(class="")
              h4(class="text-xl leading-6 font-medium text-gray-900") Delete dish
              div(class="mt-2")
                p(class="text-sm text-gray-500") Are you sure to delete this dish? This dish data will be permanently deleted. This action cannot be undone.
        form(action="" method="POST" id="form-delete-dish" class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse")
          button(type="submit" class="w-full inline-flex justify-center rounded-md border shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 sm:ml-3 sm:w-auto sm:text-sm") Delete
          button(type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="closeModalDeleteDish()") Cancel
  div(class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-label" role="dialog" aria-modal="true" id="dish-modal")
    div(class="flex items-end justify-center min-h-screen text-center px-5")
      div(class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true" onclick="closeModalDish()")
      div(class="inline-block bg-white rounded text-left overflow-hidden shadow-xl transform transition-all max-w-lg w-full my-auto")
        div(class="flex bg-gray-100 px-4 py-2 text-gray-700") 
          span(class="font-semibold text-xl" id="modal-label") Add dish
          button(class="ml-auto px-2" onclick="closeModalDish()")
            i(class="fas fa-times")
        div(class="bg-white px-4 py-3 overflow-y-scroll")
          form(action="/dish" method="POST" enctype="multipart/form-data" id="dish-form")
            div(class="mb-3")
              label(for="form-dish-name") Dish name:
              input(type="text" id="form-dish-name" name="name" class="bg-gray-200 h-10 w-full p-2 mt-1 rounded-sm" required) 
            div(class="mb-3")
              label(for="form-dish-image") Image:
              label(for="form-dish-image") 
                div(class="bg-gray-200 h-10 w-full px-2 py-1 mt-1 rounded-sm cursor-pointer leading-8" id="form-dish-image-filename") No file chosen
              input(type="file" id="form-dish-image" name="image" required hidden) 
            div(class="mb-3")
              label(for="form-dish-type") Type:
              select(name="type" id="form-dish-type" class="bg-gray-200 h-10 w-full p-2 mt-1 rounded-sm" required)
                each value, index in category
                  if index == 0
                    option(value=value._id selected)=value.name
                  else
                    option(value=value._id)=value.name
            div(class="mb-3")
              label(for="form-dish-price") Price:
              input(type="number" value="1000" min="1000" step="1000" id="form-dish-price" name="price" class="bg-gray-200 h-10 w-full p-2 mt-1 rounded-sm" required) 
            div(class="mb-3")
              label(for="form-dish-ingredient") Ingredients:
              input(type="text" id="form-dish-ingredient" name="ingredient" class="bg-gray-200 h-10 w-full p-2 mt-1 rounded-sm" required) 
            div(class="mb-3")
              label(for="form-dish-description") Description:
              textarea(id="form-dish-description" name="description" class="bg-gray-200 h-20 w-full p-2 mt-1 rounded-sm" required) 
            input(id="form-dish-submit" type="submit" value="Add dish" class="w-full float-right mb-3 inline-flex justify-center rounded-md border shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 sm:w-auto sm:text-sm")